version: 2.1
orbs:
  node: circleci/node@4.2.0
  aws-cli: circleci/aws-cli@2.0.0
jobs:
  frontend:
    working_directory: ~/app/udagram-frontend
    executor: node/default
    steps:
      - checkout:
          path: ~/app
      - node/install-packages:
          app-dir: ~/app/udagram-frontend
      - run:
          name: Build Frontend
          command: npm run build
      - aws-cli/install
      - run:
          name: Configure AWS Profile
          command: |
            aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID --profile swaves
            aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY --profile swaves
            aws configure set aws_session_token $AWS_SESSION_TOKEN --profile swaves
            aws configure set region us-east-1 --profile swaves
          
      - run:
          name: Deploy Frontend
          command: |
            aws s3 cp --recursive ./www s3://frontend-udacity-bucket765354364542 --profile swaves
  server:
    working_directory: ~/app/udagram-api
    executor: node/default
    steps:
      - checkout:
          path: ~/app
      - run:
          name: Install NPM packages
          command: npm install
          working_directory: ~/app/udagram-api
      - run:
          name: Build and Archive Server
          command: |-
            npm run build
            printenv > www/.env
            zip -r www/Archive.zip www
      - aws-cli/install
      - run:
          name: Configure AWS Profile
          command: |
            aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID --profile swaves
            aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY --profile swaves
            aws configure set aws_session_token $AWS_SESSION_TOKEN --profile swaves
            aws configure set region us-east-1 --profile swaves
      - run:
          name: Deploy Server
          command: |-        
            aws s3 cp ./www/Archive.zip s3://frontend-udacity-bucket765354364542/Archive.zip --profile swaves
            aws elasticbeanstalk create-application-version --application-name demo-app --version-label <<pipeline.git.revision>> --source-bundle S3Bucket="frontend-udacity-bucket765354364542",S3Key="Archive.zip" --profile swaves
            aws elasticbeanstalk update-environment --application-name demo-app --environment-name Demo-app-env --version-label <<pipeline.git.revision>> --profile swaves

workflows:
  build_and_deploy:
    jobs:
      - frontend
      - server